@font-face {
    font-family: 'Marker';
    src: url('../assets/fonts/PermanentMarker-Regular.ttf');
}

@font-face {
    font-family: 'Lato Bold';
    src: url('../assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

body {
    margin: 0;
}

.flex {
    display: flex;
}

p {
    margin: 0;
}

Link {
    text-decoration: none;
}

h1 {
    font-family: 'Marker';
    color: #272343;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 40px;
}

h2 {
    font-family: 'Marker';
    color: #272343;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 24px;
}

h3 {
    font-size: 1.25rem;
    color: #272343;
    font-weight: bolder;
    font-family: 'Lato Bold';
}

h4 {
    font-size: 1rem;
    color: #6C63FF;
    font-weight: bolder;
    font-family: 'Lato Bold';
}

p {
    font-size: 1rem;
    font-family: 'Open Sans';
    color: #272343;
}