.pageContainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.sectionContainer {
    min-height: 100vh;
    max-width: 1440px;
    padding: 80px 5%;
    position: relative;
    box-sizing: border-box;
}

.container {
    margin-top: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ----- Backgrounds ----- */

.background {
    height: 110vh;
    width: 100vw;
    position: absolute;
}

.backgroundDots {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, #FFFFFF 100%), url('../assets/images/purple-dot-32.svg');
    top: 0;
    left: 0;
}

.backgroundGreen {
    background: linear-gradient(180deg, rgba(227, 246, 245, 0.25) 0%, rgba(227, 246, 245, 0) 100%);
    margin: 80px;
}

.backgroundPurple {
    background: linear-gradient(180deg, rgba(108, 99, 255, 0.0625) 0%, rgba(227, 246, 245, 0) 100%);
    margin: 80px;
}

.logoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px 0;
}

.sectionContainer h2 {
    margin-bottom: 32px;
}

.accentPurple {
    position: absolute;
    top: 0;
    right: -32px;
}

.accentPurple2 {
    position: absolute;
    top: -32px;
    left: 0;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
    margin-top: 32px;
}

.service {
    height: 240px;
    flex-grow: 1;
    padding: 32px;
    box-sizing: border-box;
    text-align: left;
}

.service h3 {
    margin-left: 32px;
}

.service p {
    margin-left: 64px;
    opacity: 80%;
}

.service svg {
    width: 32px;
}

.creationSVG {
    height: 40%;
    width: auto;
    position: absolute;
    top: -24%;
    right: 0px;
}

.project {
    height: 240px;
    flex-grow: 1;
    padding: 32px;
    display: flex;
    box-sizing: border-box;
    text-align: left;
}

.project img {
    height: 100%;

}

.footer {
    width: 100vw;
    height: 200px;
    background-color: #FAFDFF;
    box-sizing: border-box;
}

.footerContainer {
    max-width: 1440px;
    padding: 32px 5%;
    margin: 0 auto;
}

.footerLine {
    height: 1px;
    background: #272343;
    opacity: .40;
    margin: 16px 0;
}

.footer img {
    height: 120px;
    width: 120px;
}